<!DOCTYPE html>
<html>
  <head>
    <title>Django Girls blog</title>
  </head>
  <body>
    <div>
      <h1><a href="">Django Girls Blog</a></h1>
    </div>
    
    <div>
      <p>publihshed: 14.06.2014, 12:14</p>
      <h2><a href="">My first post</a></h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita suscipit omnis consectetur nostrum velit, fugit aperiam. Aperiam accusantium earum sed optio, a, aliquid, reprehenderit laborum ullam eum labore libero debitis!</p>
    </div>

    <div>
      <p>publihshed: 14.06.2014, 12:14</p>
      <h2><a href="">My second post</a></h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita suscipit omnis consectetur nostrum velit, fugit aperiam. Aperiam accusantium earum sed optio, a, aliquid, reprehenderit laborum ullam eum labore libero debitis!</p>
    </div>
  </body>
</html>
